.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 0 auto;
  width: 80%;
}


.navbar-img{
  max-width: 212px;
  width: 48vw;
}


.pinkButtonNavbar {
  background-color: white;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 50px;
  width: 26vw;
  max-width: 8rem;
  height: 2rem;
  cursor: pointer;
}

@media all and (max-width: 376px) {
  .navbar-container{
    margin: 0 auto;
  }
}

@media all and (min-width: 1440px) {
  .navbar-container {
    margin: 0;
  }
}
