.imageWidth {
  width: 70%;
  margin-left: 4rem;
}

.containerStyle {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
  background-color: hsl(207, 100%, 98%);
  position: relative;
}

.revertcontainerStyle {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 12rem;
}

.slidesContainer {
  width: 90%;
  margin: 0 auto;
}

.slide1img-top {
  position: absolute;
  transform: rotateX(180deg);
  top: -34%;
  z-index: -1;
  width: 100%;
}

.slide1img-bottom {
  position: absolute;
  top: 100%;
  transform: rotateY(180deg);
  z-index: -1;
  width: 100%;
}

.slide2img-top {
  position: absolute;
  transform: rotateX(180deg);
  top: -34%;
  z-index: -1;
  width: 100%;
}

.slide2img-bottom {
  position: absolute;
  transform: rotateY(180deg);
  top: 100%;
  z-index: -1;
  width: 100%;
}

@media all and (max-width: 755px) {
  .slide1img-top,
  .slide2img-top {
    top: -23%;
  }
}

@media all and (max-width: 637px) {
  .revertcontainerStyle,
  .containerStyle {
    flex-direction: column-reverse;
    text-align: center;
  }

  .slide1img-top,
  .slide2img-top {
    top: -10%;
  }
}
