body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.pinkButton {
  width: 40vw;
  background-color: hsl(322, 100%, 66%);
  color: white;
  height: 3rem;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 1px 43px -21px rgba(0, 0, 0, 0.63);
  max-width: 300px;
  cursor: pointer;
}

@media all and (min-width: 1440px) {
  body {
    width: 90%;
    margin: 0 auto;
    max-width: 1424px;
  }
}
